body {
	background: #f3f3f3;
}

#chatContainer {
	margin-top: 50px;
	height: calc(100vh - 150px);
	min-height: 400px;
	padding: 20px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #888;
	font-family: "ubuntu mono", "Monaco", "monospace", "Courier New"; 
	overflow: auto;
	box-shadow: 0px 0px 10px 0px;
	background: #fff;
}

#chatContainer .msgRow {
	margin-bottom: 10px;
	border-left: 5px solid #f3f3f3;
	padding-left: 15px;
}

#chatContainer .msgRow .title {
	overflow: hidden;
	height: 40px;
}

#chatContainer .msgRow .title .name {
	font-size: 20px;
	font-weight: bold;
}

#chatContainer .msgRow .title .ip {
	font-size: 10px;
	top: -12px;
	position: relative;
}

#chatContainer .msgRow .content {
	word-break: break-all;
	line-height: 16px;
	padding-left: 20px;
}

#chatContainer .msgRow.admin {
	background: rgb(255, 200, 196);
}

#inputContainer {
	font-family: "ubuntu mono", "Monaco", "monospace", "Courier New"; 
	border-right: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	display: flex;
	box-shadow: 0px 0px 10px 0px;
}

#inputContainer #name {
	font-weight: bold;
	flex: none;
	width: 200px;
	display: inline-block;
	padding: 10px 10px 10px 20px;
	background: #f3f3f3;
	text-align: center;
	cursor: pointer;
	transition: all .2s;
	overflow: hidden;
}

#inputContainer #name:hover {
	background: #bbb;
}

#inputContainer #inputMsg {
	font-family: "ubuntu mono", "Monaco", "monospace", "Courier New"; 
	flex: 1;
    border: #000;
    outline: 0;
    height: 44px;
    padding: 0 20px;
    /*border-bottom: 1px solid #f3f3f3;*/
}
